<ion-content [fullscreen]="true">

    <!--Refresher-->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!--List-->
    <ion-list>
        <div *ngFor="let ensayo of ensayos; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="forward" [routerLink]="['info',ensayo.idEnsayo]" [class.selected]="selectedIndex == i">
                <ion-avatar slot="start">
                    <img src="../../assets/img/probeta-1.png">
                </ion-avatar>
                <ion-label>
                    <h2 class="tituloListaEnsayo">{{ensayo.codigoProbeta}} R{{ensayo.radioTrayectoria}} {{ensayo.carga}}N {{ensayo.distanciaTotal}}m</h2>
                    <h3>Operador: {{ensayo.operador}}</h3>
                    <p>Material de la bola: {{ensayo.materialBola}}</p>
                    <p>Observaciones: {{ensayo.observaciones | vacioDescripcion}}</p>

                </ion-label>
            </ion-item>
        </div>

    </ion-list>
</ion-content>