<form (ngSubmit)="altaEnsayo()">
    <ion-item>
        <ion-label>Numero de Ensayo</ion-label>
        <ion-input type="number" [ngModel]="ensayo.nroEnsayo" name="nroEnsayo"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-input type="date" [ngModel]="ensayo.fecha" name="fecha"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Operador</ion-label>
        <ion-input type="text" [ngModel]="ensayo.operador" name="operador"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Observaciones</ion-label>
        <ion-input type="text" [ngModel]="ensayo.observaciones" name="observaciones"></ion-input>
    </ion-item>

    <button ion-button type="submit" block>Add Todo</button>
</form>