<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-list-header>
            Lista de Ensayos
        </ion-list-header>

        <ion-item *ngFor="let ensayo of ensayos">
            <ion-avatar slot="start">
                <img src="../../assets/img/probeta-1.png">
            </ion-avatar>
            <ion-label>
                <h2 class="tituloListaEnsayo">{{ensayo.codigoProbeta}} R{{ensayo.radioTrayectoria}} {{ensayo.carga}}N {{ensayo.distanciaTotal}}m</h2>
                <h3>Operador: {{ensayo.operador}}</h3>
                <p>Material de la bola: {{ensayo.materialBola}}</p>
                <p>Observaciones: {{ensayo.observaciones | vacioDescripcion}}</p>

            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>